@import '../../styles/variables';
@import '../../styles/mixins';

.heroSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 3vw;
  background: transparent;
}

.image {
  object-fit: cover;
  z-index: 0;
}
.bg {
  object-fit: cover;
  z-index: -1;
}

.textContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding: 2rem;
}

.name {
  @include header();
  color: $text-color;
}
.title {
  @include header(70px);
  color: $primary-color;
}

.subtitle {
  @include text;
  font-size: clamp(18px, 2vw + 1rem, 28px);
  font-family: $font-header;
}
.text {
  @include text();
}

.buttonsContainer {
  display: flex;
  gap:20px;
  margin-top: 28px;
  text-align: center;
}
.button {
  @include button($bg: $primary-color, $color: black);
  margin-top: 5px;
}

.transparentButton {
  @include button-transparent($color:$primary-color)
}

.stats {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  text-align: center;
  margin-top: 10vh;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    @include header;
    color: $text-color;
    margin: 0;
  }

  p {
    margin: 0.5rem 0;
    @include text();
  }
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    margin-top:7vh;
    height: auto;
  
  }
 .image {
  width: 300px;
  height: 300px;
  align-self:center;
}
  .stats {
    margin-top: 6cqb;
  }
  .statItem {
    align-items: center;
    text-align: center;

  }
  

}