// Colors
$primary-color: #00FF88;
$text-color: #E0E0E0;
$transparent: transparent;
$border-radius-browser: 20px;
//font-sizes
$button-font-size: clamp(14px, 2vw + 1rem, 18px);
// Fonts
$font-header: 'JetBrains Mono', monospace;
$font-body: 'Inter', sans-serif;

// Spacing
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;