@import '../../styles/variables';
@import '../../styles/mixins';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.logo {
  font-weight: 700;
  font-size: 1.25rem;
  color: #00ff99;
  line-height: 1.2;
  min-width: 200px;
}

.nav {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  gap: 1.5rem;
}

.link {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  transition: background 0.2s ease, color 0.2s ease;
  cursor: pointer;
  &:hover {
    color: #00ff99;
    background: rgba(255, 255, 255, 0.1);
  }
}

.active {
  color: #00ff99;
  background: rgba(0, 255, 153, 0.15);
}

.waBtn {
  
  @include button($bg: $primary-color, $color: black);
}


/* Separate wrappers */
.desktopExtras {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobileExtras {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;

  a {
    width: 100%;
  }
}

/* ---------------- MOBILE ---------------- */
.menuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0 0 6px #00ff99);
}

@media (max-width: 768px) {
  .header {
    padding: 0px;
  }
  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 70%;
    max-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    gap: 1rem;
    background: rgba(10, 10, 10, 0.95);
    border-left: 1px solid rgba(0, 255, 153, 0.3);
    border-top: 1px solid rgba(0, 255, 153, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .open {
    transform: translateX(0);
  }

  .menuBtn {
    display: block;
  }

  .desktopExtras {
    display: none;
  }

  .mobileExtras {
    display: flex;
  }
  .switchWrapper {
    position:absolute;
    top: 20px;
    right: 40px;
  }
}