.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  background: transparent;

  img {
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1.5;
    }
  }

  @media (max-width: 768px) {
    gap: 2rem;
  }
}