@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  background: linear-gradient(180deg, #0f0f0f 0%, #1c1c1c 100%);
  padding: 6rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactHeader {
    margin-top: 7vh;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 900px;

  h2 {
    @include header();
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;

    span {
      color: #00ff99;
    }
  }

  p {
    color: #ccc;
    font-size: 1.1rem;
  }
}


/* Footer link section */
.linksSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  padding-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  h3 {
    color: $primary-color;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      color: #ccc;
      font-size: 0.95rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #00ff99;
      }
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* Copyright area */
.copyright {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem;
    }
    .contactHeader {
        margin-top:3vh;
    }
}